html {
  font-family: Georgia, serif;
}

.banner {
  background-color: #495562;

  color: #efefef;
}

.btn-ghost {
  background-color: transparent;
  border-color: #97a49b;
  color: #fff;
}

.btn-ghost:focus,
.btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

@media only screen and (min-width: 38em) {

  .banner-btn {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
    position: relative;
  }

  .banner-content {
    bottom: 0;
    position: absolute;

    background-image: linear-gradient(to top, rgba(73, 85, 98, .9), transparent);
  }

  .banner-text {
    margin-bottom: 0;
  }

  .banner-title {
    margin-bottom: 0;
  }

  .btn-ghost {
    border-color: #fff;
  }

}
